@import url(../../../component/style/_global.css);

#study_container {
	position: relative;
	font-family: var(--primary-font);
}
#study_text {
	font-size: 54px;
	text-align: center;
}
#Study_btn {
	margin: 0;
	border: 2px #fff solid;
	border-radius: 10px;

	background-color: #003f67;

	font-size: 2.7vmin;
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	text-align: center;

	cursor: pointer;
}
#Study_btn:hover {
	background-color: #fff;

	color: #003f67;
}
