#AppBar_root{
    position:fixed;
    z-index: 1;
    width: 100%;
}

#AppBar_Bar{
    flex-grow: 1;
    position:static;
    margin-right:100;
    background-color:#FFFFFF;
    height:90;
}
#AppBar_Logo{
    display: inline-block;
}
#AppBar_menu{
    flex-grow: 1;
    height:100%;
}

#AppBar_menuButton{
    flex-grow: 1;
    width: 15%;
    height: 100%;
    float:right;
    margin:0;
    padding : 100%,100%;
    margin-right: 300;
}
#AppBar_Link{
    color:#6AFFC6;
    font-size: 14;
    font-weight:Bold;
    text-decoration:none;
}
#AppBar_Link:hover{
    color:black;
}
#AppBar_Link:focus{
    color: #3238FF;
}
#AppBar_Link:active{
    color: #1138FF;
}


