html {
    background-color: #003F67;
}

#Contact_left_column{
    float:left;
    position: absolute;
    left:25%;
    top:25%;

    color:white;
    font-size:20px;
    font-weight:500;
}

#Contact_left_image{
    
    overflow: hidden;
}

#Contact_left_text{
    margin:0;
    text-align: center;
    font-family:'Noto Sans TC',Arial,sans-serif;
}

#Contact_right_column{
    float:left;
    position: absolute;
    right:25%;
    top:25%;

    color:white;
    font-size:20px;
    font-weight:500;
}

#Contact_right_image{
    
    overflow: hidden;
}

#Contact_right_text{
    margin:0;
    text-align: center;
    font-family:'Noto Sans TC',Arial,sans-serif;
}

#Contact_footer{
    position: absolute;
    bottom:0%;
    left:42.5%;

    font-family:'Noto Sans TC',Arial,sans-serif;
    color:white;
}

#Contact_logo{
    position: relative;
    left:50%;
    bottom:5%;
    margin-left:-50px;
    margin-bottom: -15%;
    
}

#Contact_footer_text_1{
    margin:0;
}
#Contact_footer_text_2{
    margin:0;
}