:focus{
    outline:0;
}

#Login_container{
    font-family:'Noto Sans TC',Arial,sans-serif;
}
#Login_input{
    position: absolute;
    top:40%;
    left:33%;
    
    color:white;
    width:35%;
    
    
}

#Login_username{
    
    margin-bottom: 5%;
}

#Login_username_tag{
    margin:0;
    float: left;
    font-size: 20px;
    font-weight:500;
}

#Login_username_input{
    background-color: #003F67;
    height:20px;
    width:65%;
    font-size:20px;
    
    border-width:0 0 4px 0;
    -o-border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
       border-image: -webkit-gradient(linear, left top, right top, from(rgb(106, 255, 198)), to(rgb(48, 232, 255)));
       border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;

    margin-left:5%;
    margin-top:2%;
}

#Login_username_input:focus::-webkit-input-placeholder{
    color: #003F67;
    
}

#Login_username_input:focus:-ms-input-placeholder{
    color: #003F67;
    
}

#Login_username_input:focus::-ms-input-placeholder{
    color: #003F67;
    
}

#Login_username_input:focus::placeholder{
    color: #003F67;
    
}


#Login_password1{
    clear: both;
}

#Login_password_tag{
    margin:0;
    float:left;
    font-size: 20px;
    font-weight:500;
}

#Login_password_input{
    background-color: #003F67;
    height:16px;
    width:65%;
    font-size:20px;
    clear:both;
    border-width:0 0 4px 0;
    -o-border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
       border-image: -webkit-gradient(linear, left top, right top, from(rgb(106, 255, 198)), to(rgb(48, 232, 255)));
       border-image: linear-gradient(to right, rgb(106, 255, 198) 0%, rgb(48, 232, 255) 100%);
    border-image-slice: 1;
    
    margin-left:6.2%;
    margin-top:2%;
}
#Login_password_input:focus::-webkit-input-placeholder{
    color: #003F67;
    
}
#Login_password_input:focus:-ms-input-placeholder{
    color: #003F67;
    
}
#Login_password_input:focus::-ms-input-placeholder{
    color: #003F67;
    
}
#Login_password_input:focus::placeholder{
    color: #003F67;
    
}

#Login_links{
    clear: both;
    margin-top:5%;
    
}

#Login_create{
    float:left;
    color:white;
    text-decoration: none;
}

#Login_forgot{
    float:right;
    color:white;
    text-decoration: none;
}

#Login_footer{
    position: absolute;
    bottom:0%;
    left:42.5%;

    font-family:'Noto Sans TC',Arial,sans-serif;
    color:white;
}

#Login_logo{
    position: relative;
    left:50%;
    margin-bottom: -15%;
    margin-left: -20%;
    
}

#Login_footer_text_1{
    margin:0;
}
#Login_footer_text_2{
    margin:0;
}