@import url(../style/_global.css);

.Footer_main {
	position: relative;
	bottom: 0;
	display: flex;
	flex-direction: column;

	width: 100%;

	background-color: #002958;

	font-family: var(--primary-font);
	color: white;
}

.icon_img {
	max-width: 200px;
	min-width: 100px;
}

.footer_list {
	font-size: 17px;
	color: white;

	list-style-type: none;
	line-height: 30px;
}

.footer_copy {
	min-height: 30px;

	background-color: #001936;
}

#footer_col_sm {
	margin: 0, auto;

	font-size: 8px;
	color: gray;
	text-align: center;
}
