#Footer_div{
    height: 100px;
    font-family:'Noto Sans TC',Arial,sans-serif;
}

#Footer_img{
    display: inline-block;
    position: relative;
    height:50px;
    width: 85px;
    margin-bottom: 2vh;
    left: 1.7vw;
    
}
#Footer_text{
    position: relative;
    padding-top:0%;
    font-size: 8px;
    color: white;
    top:-20%;
    bottom:0;
    margin:0;
}